[submodule "noweb.py"]
	path = noweb.py
	url = git@github.com:dilawar/noweb.py
[submodule "latex"]
	path = latex
	url = git@github.com:dilawar/latex
[submodule "data"]
	path = data
	url = git@github.com:dilawar/data
[submodule "notes"]
	path = notes
	url = git@bitbucket.org:dilawar/notes
[submodule "ghonchu"]
	path = ghonchu
	url = git@github.com:dilawar/ghonchu
[submodule "manage.cli"]
	path = manage.cli
	url = git@github.com:dilawar/manage.cli
