pantable
numpy
matplotlib 
scipy
sympy
pandoc-imagine
pandocfilters
myhdl
PySpice
networkx
git+https://github.com/dilawar/dilawar
git+https://github.com/dilawar/mdx_bib
requests
pymoose
mkdocs
mkdocs-material
