Host v3
    Hostname 172.16.204.230
    User labadmin
    IdentityFile ~/.ssh/id_rsa

Host v4
    Hostname 172.16.204.73
    User labadmin
    IdentityFile ~/.ssh/id_rsa

Host shares
    Hostname shares.ncbs.res.in
    User dilawars

Host srna
    Hostname srna.ncbs.res.in
    User anushree
    IdentityFile ~/.ssh/id_rsa

Host anushree
    Hostname 172.16.206.134

Host ghevar
    Hostname 172.16.223.30

Host gulgula
    Hostname 172.16.207.17

Host chamcham
    Hostname 172.16.207.23

Host hippo
    Hostname 172.16.223.76
    User hippo


Host somya 
    Hostname 172.16.108.115
    User guest1

Host hippo 
    Hostname 172.16.223.76
    User hippo

Host rikesh
    Hostname 172.16.206.189
    User dilawar

Host behaviour1
    Hostname 172.16.202.218
    User dilawars

Host common5
    Hostname 172.16.202.218
    User dilawars

Host common1
    # Hostname 172.16.204.52
    Hostname 172.16.208.179
    User dilawars

Host common2
    Hostname 172.16.208.154
    User dilawars

Host behaviour4
    Hostname 172.16.204.45
    User dilawars

Host aur.archlinux.org
    IdentityFile ~/.ssh/id_rsa
    User aur

Host harshvardan
    Hostname 172.16.206.163

Host pi
    Hostname 172.16.206.38
    User pi

Host pi_ethernet
    Hostname 172.16.206.177
    User pi

ForwardX11Timeout 2d
