Host v3
    Hostname 172.16.204.230
    User labadmin
    IdentityFile ~/.ssh/id_rsa

Host v4
    Hostname 172.16.204.73
    User labadmin
    IdentityFile ~/.ssh/id_rsa

Host motichoor
    Hostname 172.16.206.132
    User dilawars


Host shares
    Hostname shares.ncbs.res.in
    User dilawars

Host bitbucket.org
    Hostname bitbucket.org
    User git
    IdentityFile ~/.ssh/bitbucket

Host srna
    Hostname srna.ncbs.res.in
    User anushree
    IdentityFile ~/.ssh/id_rsa

host mohini 
    Hostname 172.16.206.218
    User dilawars


