Host v3
    Hostname 172.16.204.230
    User labadmin
    IdentityFile ~/.ssh/id_rsa

Host v4
    Hostname 172.16.204.73
    User labadmin
    IdentityFile ~/.ssh/id_rsa

Host shares
    Hostname shares.ncbs.res.in
    User dilawars

Host srna
    Hostname srna.ncbs.res.in
    User anushree
    IdentityFile ~/.ssh/id_rsa

Host ghevar
    Hostname 172.16.223.30

Host chamcham
    Hostname 172.16.207.23

Host hippo
    Hostname 172.16.223.76
    User hippo


Host somya 
    Hostname 172.16.108.115
    User guest1

Host hippo 
    Hostname 172.16.223.76
    User hippo

Host rikesh
    Hostname 172.16.206.189
    User dilawar

Host behaviour1
    Hostname 172.16.202.218
    User dilawars

Host common5
    Hostname 172.16.202.218
    User dilawars

Host common1
    Hostname 172.16.204.52
    User dilawars

Host common2
    Hostname 172.16.208.154
    User dilawars

Host behaviour4
    Hostname 172.16.204.45
    User dilawars

Host aur.archlinux.org
    IdentityFile ~/.ssh/id_rsa
    User aur

ForwardX11Timeout 2d
