# XSA Board FPGA pin assignment constraints

net clk      loc=p88; 

net ps2_clk  loc=p94; 
net ps2_data loc=p93; 

net s<0>     loc=p67; 
net s<1>     loc=p39; 
net s<2>     loc=p62; 
net s<3>     loc=p60; 
net s<4>     loc=p46; 
net s<5>     loc=p57; 
net s<6>     loc=p49; 
