# SDRAM interface pin assignments
net ce_n      loc=p41;  # Flash RAM chip-enable
net clkin     loc=p88;  # main clock
net clkfb     loc=p91;  # feedback SDRAM clock after PCB delays
net clkout    loc=p129; # clock to SDRAM
net cke       loc=p131; # SDRAM clock enable
net cs_n      loc=p132; # SDRAM chip-select
net ras_n     loc=p130; 
net cas_n     loc=p126; 
net we_n      loc=p123; 
net dqmh      loc=p124; 
net dqml      loc=p122; 
net data<0>   loc=p95;  
net data<1>   loc=p99;  
net data<2>   loc=p101; 
net data<3>   loc=p103; 
net data<4>   loc=p113; 
net data<5>   loc=p115; 
net data<6>   loc=p117; 
net data<7>   loc=p120; 
net data<8>   loc=p121; 
net data<9>   loc=p118; 
net data<10>  loc=p116; 
net data<11>  loc=p114; 
net data<12>  loc=p112; 
net data<13>  loc=p102; 
net data<14>  loc=p100; 
net data<15>  loc=p96;  
net sAddr<0>  loc=p141; 
net sAddr<1>  loc=p4;   
net sAddr<2>  loc=p6;   
net sAddr<3>  loc=p10;  
net sAddr<4>  loc=p11;  
net sAddr<5>  loc=p7;   
net sAddr<6>  loc=p5;   
net sAddr<7>  loc=p3;   
net sAddr<8>  loc=p140; 
net sAddr<9>  loc=p138; 
net sAddr<10> loc=p139; 
net sAddr<11> loc=p136; 
net sAddr<12> loc=p133; 
net ba<0>     loc=p134; 
net ba<1>     loc=p137; 
net s<0>      loc=p67;  
net s<1>      loc=p39;  
net s<2>      loc=p62;  
net s<3>      loc=p60;  
net s<4>      loc=p46;  
net s<5>      loc=p57;  
net s<6>      loc=p49;  
net ppd<0>    loc=p50;  
net ppd<1>    loc=p48;  
net ppd<2>    loc=p42;  
net ppd<3>    loc=p47;  
net ppd<4>    loc=p65;  
net ppd<5>    loc=p51;  
# net ppd<6> loc=p58;
# net ppd<7> loc=p43;
net pps<3>    loc=p40;  
net pps<4>    loc=p29;  
net pps<5>    loc=p28;  
net pps<6>    loc=p78;  

