net clka         LOC="P88"; 
net rst_n        LOC="P93"; 
net mclk         LOC="P77"; 
net sclk         LOC="P75"; 
net lrck         LOC="P59"; 
net sdti         LOC="P74"; 
net sdto         LOC="P76"; 
net ADC_rdy_diag LOC="P12"; 
net DAC_rdy_diag LOC="P13"; 

